<!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= image_path 'Lemon.jpg' %>')">
    <div class="banner-content">
      <h1>Monsieur Cocktail</h1>
      <p>Spice up your night on the tins!</p>
    </div>
    <div class="add-button">
      <h2><%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %></h2> 
    </div>
  </div>

<!-- container display of all the cocktails cards -->
<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
    <div class="col-sm-4">
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card" 
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cocktail.photo? ? (cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill) : (image_path 'cocktail.jpg') %>')">
        <div class="card-category"><%= ["Popular", "Game Changer", "Stumbler", "One for Mum!", "DONT YOU DARE", "G'day Mate"].sample.capitalize %></div>
        <div class="card-description">
          <h2><%= cocktail.name.capitalize %></h2>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

