<div class="container-doses-show">
  <div class="row">
    <h1><%= @cocktail.name.upcase %></h1>
    <h4><%= ["Darn fabulous", "The Game Changer", "The Stumbler", "One for Mum!", "The DONT YOU DARE", "The G'day Mate"].sample.capitalize %></h4>

<!-- Cocktail view card -->
    <div class="dose-list">
      <p>INGREDIENTS LIST</p>
      <% @cocktail.doses.each do |dose| %>
      <div class="description-delete">
        <h4><%= dose.description.capitalize %> - <%= dose.ingredient.name.capitalize %></h4>
        <%= link_to "DELETE DOSE", cocktail_dose_path(id: dose.id, cocktail_id: @cocktail.id ), method: "delete"%>
      </div>
      <% end %>
    </div>

<!-- Image rendered from Cloudify -->
    <div class="cocktail-image">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>

<!-- Seperating nav buttons for organisation -->
    <div class="nav-buttons">
      <%= link_to "BACK", cocktails_path, class: "btn btn-warning"%>
      <%= link_to "ADD DOSE", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    </div>
  </div>
</div>





