
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredient %>
<%= f.submit "Add Dose", class: "btn btn-primary" %>
<%= link_to "Back", cocktail_path(@cocktail) class: "btn btn-danger btn-lg" %>
<% end %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <i class="fas fa-heart"></i> Monsieur Cocktail <i class="fas fa-heart"></i>
 </div>
</div>