
<!-- Form for adding a dose to your cocktail -->
<div class="row container-row-new-dose">
  <div class="col-md-4 offset-md-4">
    <h1>Dose it up</h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient, prompt: 'Select an ingredient' %>
    <%= f.submit "Add Dose", class: "btn btn-primary" %>
    <%= link_to "Done", cocktail_path(@cocktail), class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<!-- Footer -->
<%= render 'cocktails/footer', coccktail: @cocktail %>